.mainAddButton {
    padding: 10px;
    margin: 20px;
    background-color: #d1411e;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 240, 240, 0.52);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .wrapper {
    width: 500px;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .close {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .priceContainer {
    display: flex;
    justify-content: space-between;
  }
<<<<<<< HEAD

  .inputSm {
    width: 25%;
  }

=======
  
  .inputSm {
    width: 25%;
  }
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .extra {
    display: flex;
    justify-content: space-between;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .extraItems {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .extraItem {
    padding: 5px;
    font-size: 14px;
    border: 1px solid tomato;
    background-color: white;
    color: tomato;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 60e662a2bbd75084c299b7d2e5f27a46f7b2b828
  .addButton {
    width: 25%;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 0;
    align-self: flex-end;
  }