.container {
    padding: 50px;
    display: flex;
  }
  
  .title {
    font-weight: bold;
    font-size: 40px;
  }
  
  .item {
    text-align: center;
    margin-left: 10px;
    flex: 1;
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .trTitle {
    background-color: #f2f2f2; 
  }
  
  .th, .td {
    padding: 12px 15px; 
    border-bottom: 1px solid #ddd; 
  }
  
  .th {
    background-color: #4CAF50; 
    color: white; 
    text-align: left; 
  }
  
  .tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  
  .button {
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .button:first-child {
    background-color: teal;
    margin-right: 10px;
  }
  
  .button:last-child {
    background-color: crimson;
  }
  