/* .container {
    padding: 50px;
    display: flex;
    text-align: center;
  }
  
  .left {
    flex: 2;
  }
  
  .right {
    flex: 1;
  }
  
  .imgContainer {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
  }
  
  .table {
    width: 100%;
    border-spacing: 20px;
    border: 1px solid red;
  }
  
  .name {
    font-weight: 500;
    color: #d1411e;
    font-size: 18px;
  }
  
  .total {
    font-weight: 500;
    font-size: 18px;
  }
  
  .wrapper {
    width: 100%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
  
  .totalTextTitle {
    margin-right: 10px;
  }
  
  .button {
    height: 30px;
    color: #d1411e;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  } */
  
  
  .container {
    height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: auto;
}

.cardItem {
  background-color: #FF006B;
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  border-radius: 28px;
  width: 600px;
  height: 150px;
  border: none;
}

.Image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-right: 25px; /* เพิ่ม margin-right เพื่อชิดซ้าย */
}

.left {
  margin: 10px;
  align-items: center;
  
 
  display: flex;
  flex-direction: row;
  flex: 1.5;
}

.right {
  flex: 0.6;
}



.name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.price {
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  
}

.total {
  margin-right: 10px;
  font-size: 16px;
}

.quantity {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

.right {
  display: flex; 
  align-items: center; 
}

.add {
  background-color: #000000;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  
}

.sub {
  background-color: #000000;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;

}


.buttonRe{
  border: none;

  width: 70px;
  height:30px;
  background-color: white;
  padding-left: 4px;
  color: red;
  margin-left: 45px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}




.quantity {
  font-size: 16px; 
  margin-left: 3px;
  margin-right: 3px;

 
}


.tamail {
  display: flex;
  align-items: center;
}

.select {
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.email {
  height: 37px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}




.totalTextTitle {
  margin-top: 20px;
  font-weight: bold;
}

.button {
  background-color: #FF006B;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.newcard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  border: none;
}

.newcard h1,
.newcard button {
  margin: 10px;
}

.goorders {
  margin-top: 20px;
  height: 45px;
  width: 110px;
  margin-left: 10px;
  background-color: #FF006B;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 11px;
}

.goorders:hover {
  background-color: #000000;
}

.container2 {
  height: 100vh;
background-color: #FF006B;
display: flex;
flex-direction: column; 
align-items: center;
justify-content: center;
padding: 40px;
margin: auto;
}