.container {
  height: calc(100vh - 100px);
  display: flex;
  margin: auto;

}

.left {
  flex: 1.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 0.9;
  margin: auto;

}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  color: #FF006B;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 2px solid #FF006B;
}

.desc{
  margin-top: 10px;
}



.button {
  margin-top: 20px;
  height: 45px;
  width: 110px;
  margin-left: 10px;
  background-color: #FF006B;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 11px;
}

/* สำหรับหน้าจอที่มีความกว้างน้อยกว่าหรือเท่ากับ 768px */
@media (max-width: 768px) {
  

  .title {
    font-size: 48px; /* ลดขนาดของตัวหนังสือในหน้าจอที่เล็กลง */
  }

  .price {
    font-size: 24px; /* ลดขนาดของราคาในหน้าจอที่เล็กลง */
  }

  .container {
    flex-direction: column;
  }

  .left {
    order: 0; 
  }

  .right {
    order: 1; 
    margin:0 50px 50px 50px;
    text-align: center;
  }

}


